POSTGRES_PORT=5434
POSTGRES_DB=uevent
POSTGRES_USER=uevent
POSTGRES_PASSWORD=uevent

# STRIPTE
STRIPE_SECRET_KEY=key
STRIPE_PUBLIC_KEY=key
STRIPE_WEBHOOK_SECRET=key

# Google OAuth
GOOGLE_CLIENT_ID="key"
GOOGLE_CLIENT_SECRET="key"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# SMTP
SMTP_HOST="smtp.example.com"
SMTP_PORT="key"
SMTP_USER="key"
SMTP_PASS="key"
SMTP_FROM_EMAIL="noreply@uevent.com"